In [1]:
import pandas as pd
df=pd.read_csv('marks.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Mark    12 non-null     int64
dtypes: int64(1)
memory usage: 224.0 bytes

In [4]:
print('std=',df.std())

std= Mark    15.736466
dtype: float64

In [6]:
print('mode=',df.mode())

mode=    Mark
0    50
1    75

In [13]:
df = pd.read_csv("marks2.csv")

print(df.info())

infoDf = pd.DataFrame(columns = ['Stat','Class1','Class2'])

x=df['Class1'].count()
y=df['Class2'].count()
row={'Stat':'Count','Class1':x, 'Class2':y}
infoDf=infoDf.append(row, ignore_index = True)

x=df['Class1'].min()
y=df['Class2'].min()
row={'Stat':'MIN','Class1':x, 'Class2':y}
infoDf=infoDf.append(row, ignore_index = True)

x=df['Class1'].max()
y=df['Class2'].max()
row={'Stat':'MAX','Class1':x, 'Class2':y}
infoDf=infoDf.append(row, ignore_index = True)

x=df['Class1'].mean()
y=df['Class2'].mean()
row={'Stat':'Mean','Class1':x, 'Class2':y}
infoDf=infoDf.append(row, ignore_index = True)

x=df['Class1'].median()
y=df['Class2'].median()
row={'Stat':'Median','Class1':x, 'Class2':y}
infoDf=infoDf.append(row, ignore_index = True)

x=df['Class1'].std()
y=df['Class2'].std()
row={'Stat':'std','Class1':x, 'Class2':y}
infoDf=infoDf.append(row, ignore_index = True)

x=df['Class1'].mode()[0]
y=df['Class2'].mode()[0]
row={'Stat':'Mode','Class1':x, 'Class2':y}
infoDf=infoDf.append(row, ignore_index = True)

infoDf

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Class1  10 non-null     int64
 1   Class2  10 non-null     int64
dtypes: int64(2)
memory usage: 288.0 bytes
None

C:\Users\asus\AppData\Local\Temp\ipykernel_8844\1567253335.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  infoDf=infoDf.append(row, ignore_index = True)
C:\Users\asus\AppData\Local\Temp\ipykernel_8844\1567253335.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  infoDf=infoDf.append(row, ignore_index = True)
C:\Users\asus\AppData\Local\Temp\ipykernel_8844\1567253335.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  infoDf=infoDf.append(row, ignore_index = True)
C:\Users\asus\AppData\Local\Temp\ipykernel_8844\1567253335.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  infoDf=infoDf.append(row, ignore_index = True)
C:\Users\asus\AppData\Local\Temp\ipykernel_8844\1567253335.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  infoDf=infoDf.append(row, ignore_index = True)
C:\Users\asus\AppData\Local\Temp\ipykernel_8844\1567253335.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  infoDf=infoDf.append(row, ignore_index = True)
C:\Users\asus\AppData\Local\Temp\ipykernel_8844\1567253335.py:40: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  infoDf=infoDf.append(row, ignore_index = True)

     Stat     Class1     Class2
0   Count         10         10
1     MIN         20         40
2     MAX         80         90
3    Mean       50.0       62.9
4  Median       51.5       61.0
5     std  19.402176  16.993136
6    Mode         50         50