In [3]:
import pandas as pd
df=pd.read_csv('results.csv')
print(df.info())
df['Mark'].describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Mark    10 non-null     int64
 1   Grade   10 non-null     object
dtypes: int64(1), object(1)
memory usage: 288.0+ bytes
None

count    10.000000
mean     50.000000
std      19.402176
min      20.000000
25%      35.000000
50%      51.500000
75%      62.500000
max      80.000000
Name: Mark, dtype: float64

In [4]:
df['Grade'].describe()

count     10
unique     5
top        F
freq       3
Name: Grade, dtype: object

In [6]:
df=pd.read_csv('marks2.csv')
print(df.info())
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Class1  10 non-null     int64
 1   Class2  10 non-null     int64
dtypes: int64(2)
memory usage: 288.0 bytes
None

          Class1     Class2
count  10.000000  10.000000
mean   50.000000  62.900000
std    19.402176  16.993136
min    20.000000  40.000000
25%    35.000000  50.000000
50%    51.500000  61.000000
75%    62.500000  75.000000
max    80.000000  90.000000